:host{
    width: 100%;
    height: 100%;
}

section {
    width: 16.5rem;
    height: 21rem;
    /* width: 100%;
    height: 100%; */
    overflow: hidden;
    border-radius: var(--radius);
    background-color: var(--clr-background-elements);
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

img {
    height: 10rem;
    width: 100%;
    object-fit: cover;
}

.info {
    padding: 0 1.4rem;
    margin-top: 1.2rem;
}

h3 {
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    overflow-x: hidden;
    width: 600px;
}

span {
    font-weight: 300;
    opacity: .8;
}

