a {
    color: var(--clr-text);
    display: inline-block;
    max-width: 10rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: .5rem;
    text-transform: capitalize;
    padding: .5rem;
    border-radius: var(--radius);
}

a:active {
    background-color: var(--clr-background);
    border-radius: var(--radius);
    overflow: hidden;
}

i {
    font-style: normal;
    font-weight: 600;
}

a svg {
    width: 1rem;
    height: 1rem;
}
