:root {
    /* primary colors */
    --clr-light-red: hsl(356, 100%, 66%);
    --clr-very-light-red: hsl(355, 100%, 74%);
    --clr-dark-blue: hsl(208, 49%, 24%);

    /* neutral colors*/
    --clr-white:hsl(0, 0%, 100%);
    --clr-grayish-blue: hsl(240, 2%, 79%);
    --clr-very-dark-graysh-blue:  hsl(207, 13%, 34%);
    --clr-dark-black-blue: hsl(240, 10%, 16%);


    --padding-left: 10.5rem;
    --paddig-right: 10rem;

    --pop-shadow: 0px 5px 10px 1px rgba(0,0,0,0.26);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 1440px;
    height: 3394px;
    background-color: var(--clr-white);
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

header {
    height: 17.7%;
    border-radius: 0 0 0 6.5rem;
    background-repeat: no-repeat;
    background-image:  url('./images/bg-pattern-intro.svg'), linear-gradient(to right,	hsl(8, 100%, 71%), hsl(353, 100%, 62%));
    background-position: 25% 52%;
    color: var(--clr-white);
    padding-left: var(--padding-left);
    padding-right: var(--paddig-right);
    padding-top: 3.6rem;
    font-size: 34px;
}

.menu {
    /* outline: 1px solid whitesmoke; */
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.sub-menu {
    position: relative;
}

.sub-menu-entries {
    z-index: 999;
    position: absolute;
    top: 150%;
    left: 0;
    display: flex;
    min-width: 12rem;
    flex-direction: column;
    background-color: white;
    color: var(--clr-dark-black-blue);
    padding: 1rem;
    gap: 1.5rem;
    border-radius: .5rem;
    -webkit-box-shadow: var(--pop-shadow); 
    box-shadow: var(--pop-shadow);
}

.sub-menu-entries > a {
    opacity: .7;
}

.sub-menu-entries > a:hover {
    opacity: 1;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 4rem;
    font-weight: 500;
    font-size: 16px;
    gap: 2rem;
}

nav > * {
    padding-top: .2rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

nav > a,
nav > * > a {
    opacity: .7;
}

nav > *:nth-child(4){
    margin-left: auto;
}

nav > *.sub-menu::after {
    content: url('./images/icon-arrow-light.svg');
    margin-left: .4rem;
    background-color: red;
}

nav > *.sub-menu:focus-within,
nav > *.sub-menu:focus{
    /* transform: rotate(180deg); */
    background-color: yellowgreen;
}

.button {
    color: #E26265;
    height: 3rem;
    background-color: white;
    width: 8.5rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: unset;
    font-weight: 700;
}

.button-outline {
    background-color: unset;
    outline: 1px solid white;
    color: white;
}

#menu-mobile {
    display: none;
    margin-left: auto;
    width: 4rem;
    cursor: pointer;
}

.hidden {
    display: none;
}

@media screen and (max-width: 750px) {
    :root {
        --padding-left: 2.8rem;
        --padding-right: var(--padding-left);
    }

    body {
        width: 750px;
        height: 9378px;
    }

    header {
        height: 12.8%;
        border-radius: 0 0 0 12.2rem;
        background-position: 38% 38%;
        padding-top: 7rem;
        padding-right: var(--padding-right);
    }

    .hamburger-nav {
        display: unset;
    }

    nav {
        /* display: none; */
        position: absolute;
        flex-direction: column;
        height: 30rem;
        top: 140%;
        left: -10%;
        width: 100%;
        padding: 1.5rem;
        background-color: white;
        box-shadow: var(--pop-shadow);
        border-radius: 1rem;
        align-items: center;
        overflow-y: scroll;
        /* justify-content: space-around; */
    }

    nav > * {
        color: black;
        flex-shrink: 0;
    }

    nav > *:nth-child(4){
        margin-left: unset;
        margin-top: auto;
    }

    nav > *.sub-menu::after {
        content: url('./images/icon-arrow-dark.svg');
    }

    .logo {
        width: 10rem;
    }

    .sub-menu {
        position: unset;
        min-width: 10rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .sub-menu-entries {
        background-color: lightgray;
        border-radius: .3rem;
        position: unset;
        gap: .7rem;
        box-shadow: unset;
        width: 100%;
        align-items: center;
    }

    hr {
        width: 100%;
        border: 0;
        border-top: 1px solid lightgray;
    }

    #menu-mobile {
        display: unset;
    }

    nav .button {
        background: linear-gradient(to right,	hsl(8, 100%, 71%), hsl(353, 100%, 62%));
        color: white;
    }
}