section {
    height: 100%;
    width: 100%;
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 6.5rem auto;
}

country-search {
    width: 75%;
}

region-filter {
    margin-left: auto;
}

ul {
    grid-column: 1 / span 2;
    grid-row: 2;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 16.5rem);
    grid-auto-rows: 26rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-self: flex-start;
}

@media (max-width: 768px) {
    country-search {
        width: 100%;
    }
}

@media (max-width: 515px) {
    section {
        grid-template-columns: 1fr;
        grid-template-rows: 12% 12% 76%;
        padding-top: 2rem;
    }

    region-filter {
        grid-column: 1;
        grid-row: 2;
        margin-left: unset;
    }
}

@media (max-width: 1300px) {
    ul {
        grid-template-columns: repeat(3, 16.5rem);
    }
}

@media (max-width: 1030px) {
    ul {
        grid-template-columns: repeat(2, 16.5rem);
    }
}

@media (max-width: 625px) {
    ul {
        grid-template-columns: 1fr;
        justify-content: start;
        grid-row: 3;
        outline: 1px solid red;
    }

    /* country-card {
         width: 16%;
    } */
}