<section>
    <a href="back" is="route-link" id="back">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
        </svg><span>Back</span>
    </a>
    <flag-image></flag-image>
    <h1></h1>
    <ul class="main">
        <li><b>native name: </b><span id="native-name"></span></li>
        <li><b>population: </b><span id="population"></span></li>
        <li><b>region: </b><span id="region"></span></li>
        <li><b>sub region: </b><span id="sub-region"></span></li>
        <li><b>capital: </b><span id="capital"></span></li>
    </ul>
    <ul class="extra">
        <li><b>top level domain: </b><span id="tld"></span></li>
        <li><b>currencies: </b><span id="currencies"></span></li>
        <li><b>languages: </b><span id="languages"></span></li>
    </ul>
    <div class="borders">
        <b>Border Countries:</b>
        <nav id="borders-links"></nav>
    </div>

</section>